
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
&:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sansFamily;
	color: $text-color;
}
h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.3rem;
}

a {
	font-size: 1rem;
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}

.width-container {
	max-width: 1200px;
	margin: 0 auto;
}

// Content
section {
	min-height: 100vh;
	padding: 20vh 20px;
	text-align: center;
	background-color: $white;
	color: $text-color;

	&:nth-of-type(even) {
		background-color: $front-pink;
		color: $white;
	}

	.width-container {
		max-width: 800px;
	}
}