
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: $box-shadow;

	.title-bar {
		position: relative;
		z-index: 2;
		padding: 40px 20px 35px;
		background-color: $white;
		
		.logo {
			display: inline-block;
			height: 64px;
			width: auto;
		}
		.action-btns {
			display: inline-block;
			float: right;

			button {
				margin-right: 30px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	nav {
		position: absolute;
		z-index: 1;
		top: 100%;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		background-color: $front-navy;

		.width-container {
			display: flex;
		}
		.nav-box {
			display: inline-block;
			flex: 1 1 auto;
			padding: 135px 20px 35px;
			text-align: center;
			color: $white;
			@include transition();
			background-color: $front-navy;

			&:nth-child(2) {
				background-color: $front-gold;
			}
			&:nth-child(3) {
				background-color: $front-pink;
			}
			&:nth-child(4) {
				background-color: $front-aqua;
			}

			.nav-title {
				margin: 0;
				@include transition();
				font-size: 1rem;
			}
			.open-cont {
				max-height: 0;
				overflow: hidden;

				a.nav-item {
					color: $white;
					display: inline-block;
					margin-bottom: 25px;
				}
				button {

				}
			}

			&.focus {
				padding-top: 80px;

				.nav-title {
					margin-bottom: 40px;
				}
				.open-cont {
					max-height: 400px;
				}
			}
		}

		&.open {
			max-height: 300px;
		}
	}

}