
header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
	box-shadow: $box-shadow;

	.desktop-background {
		display: none;
	}

	@media (min-width: $mobile) {
		max-height: none;
		overflow-y: visible;

		.desktop-background {
			display: block;
			position: fixed;
			z-index: -1;
			top: 0;
			left: 0;
			height: 0; // 100% when showing
			width: 100%;
			opacity: 0; // fade in
			background-color: $black;
			-webkit-transition: opacity 0.5s;
			transition: opacity 0.5s;
		}
	}

	.title-bar {
		position: relative;
		z-index: 2;
		padding: 20px 20px 15px;
		background-color: $white;
		
		.logo {
			display: inline-block;
			height: 30px;
			width: auto;
			max-width: 50%;
		}
		.action-btns {
			display: block;
			max-height: 0;
			overflow: hidden;
			@include transition();

			button {
				opacity: 0; // fade in the buttons
				display: block;
				margin: 0 auto 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.menu-btn {
			float: right;
		}

		@media (min-width: $mobile) {
			padding: 40px 20px 35px;

			.logo {
				height: 64px;
			}
			.action-btns {
				display: inline-block;
				float: right;
				max-height: none;
				padding: 10px 0 0;

				button {
					display: inline-block;
					opacity: 1;
					margin: 0 30px 0 0;
				}
			}

		}
	}

	nav {
		max-height: 0;
		overflow: hidden;
		@include transition(0.8s);
			
		.nav-box {
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;

			display: block;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			@include transition();
			background-color: $front-navy;

			&:nth-child(2) {
				background-color: $front-gold;
			}
			&:nth-child(3) {
				background-color: $front-pink;
			}
			&:nth-child(4) {
				background-color: $front-aqua;
			}

			.nav-title {
				opacity: 0; // fade-in
				margin: 0 0 15px;
				@include transition();
				font-size: 1rem;
			}
			.open-cont {
				opacity: 0; // fade-in
				@include transition(0.4s);

				a.nav-item {
					display: block;
					margin-bottom: 3px;
					padding: 8px 0;
					color: $white;
					font-weight: 700;
				}
				button {
					margin-top: 5px;
				}
			}
		}
		
		@media (min-width: $mobile) {
			position: absolute;
			z-index: 1;
			top: 100%;
			width: 100%;
			height: 0;
			max-height: none;
			background-color: $front-navy;
			@include transition(0.4s);

			&.box-in-focus {
				overflow: visible;
			}

			.width-container {
				display: flex;
				align-items: flex-start; // top-aligned
				height: 100%;
			}
			.nav-box {
				display: inline-block;
				flex: 1 1 0;
				height: 100%;
				max-height: none;
				padding: 135px 20px 30px;
				@include transition();
				cursor: pointer;

				&:hover {
					background-color: darken($front-navy, 10%);
				}
				&:nth-child(2) {
					// background-color: $front-gold;
					&:hover {
						background-color: darken($front-gold, 10%);
					}
				}
				&:nth-child(3) {
					// background-color: $front-pink;
					&:hover {
						background-color: darken($front-pink, 10%);
					}
				}
				&:nth-child(4) {
					// background-color: $front-aqua;
					&:hover {
						background-color: darken($front-aqua, 10%);
					}
				}

				.nav-title {
					margin: 0;
					font-size: 1rem;
					cursor: pointer;
					@include transition();
					-webkit-transition-delay: 1s;
					transition-delay: 1s;
				}
				.open-cont {
					max-height: 0;
					overflow: hidden;

					a.nav-item {
						position: relative;
						color: $white;
						margin-bottom: 5px;

						&:before {
							content: '';
							@include centerX();
							bottom: 3px;
							display: inline-block;
							width: 0;
							height: 0;
							background-color: $white;
							@include transition();
						}

						&:hover {
							&:before {
								height: 1px;
								width: 50%;
							}
						}
					}
					button {

					}
				}
			}
		}
	}


	// Nav Open: Show nav items and change hamburger to 'X'
	//-----------------
	&.open {
		.title-bar {
			.action-btns {
				display: block;
				padding-top: 20px;
				max-height: 150px;

				button {
					opacity: 1;
					-webkit-transition-delay: 0.6s;
					transition-delay: 0.6s;
				}
			}
		}
		nav {
			max-height: 250vh;

			.nav-box {
				max-height: 400px;
				padding-top: 20px;
				padding-bottom: 20px;
				-webkit-transition-delay: 0.3s;
				transition-delay: 0.3s;

				.nav-title,
				.open-cont {
					opacity: 1;
					-webkit-transition-delay: 0.6s;
					transition-delay: 0.6s;
				}
			}
		}

		// Class used to reverse closing animations
		&.close-start {
			.title-bar {
				.action-btns {
					padding-top: 0;
					max-height: 0;
					-webkit-transition-delay: 0.9s;
					transition-delay: 0.9s;
					
					button {
						opacity: 0;
						-webkit-transition-delay: 0s;
						transition-delay: 0s;
					}
				}
			}
			nav {
				.nav-box {
					max-height: 0;
					padding-top: 0px;
					padding-bottom: 0px;
					-webkit-transition-delay: 0.4s;
					transition-delay: 0.4s;

					.nav-title,
					.open-cont {
						-webkit-transition-delay: 0s;
						transition-delay: 0s;
						opacity: 0;
					}
				}
			}
		}

		@media (min-width: $mobile) {
			.desktop-background {
				height: 100%;
				opacity: 0.8;
			}
			.title-bar {
				.action-btns {
					display: inline-block;
					padding-top: 10px;

					button {
						-webkit-transition-delay: 0s;
						transition-delay: 0s;
					}
				}

			}
			nav {
				height: 140px;
				-webkit-transition-delay: 0.4s;
				transition-delay: 0.4s;

				.nav-box {
					padding: 90px 20px 20px;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;

					.nav-title {
						opacity: 1;
						-webkit-transition-delay: 0.9s;
						transition-delay: 0.9s;
					}
					.open-cont {
						opacity: 0;
						-webkit-transition-delay: 0s;
						transition-delay: 0s;
					}


					// Open sub-menu, using transition-delays to stagger animations
					&.focus {
						height: auto;
						min-height: 100%;
						padding-top: 60px;
						-webkit-transition-delay: 0s;
						transition-delay: 0s;

						// No hover state when open
						&:hover {
							background-color: $front-navy;
						}
						&:nth-child(2) {
							&:hover {
								background-color: $front-gold;
							}
						}
						&:nth-child(3) {
							&:hover {
								background-color: $front-pink;
							}
						}
						&:nth-child(4) {
							&:hover {
								background-color: $front-aqua;
							}
						}

						.nav-title {
							margin-bottom: 15px;
							-webkit-transition-delay: 0s;
							transition-delay: 0s;
						}
						.open-cont {
							max-height: 150px;
							opacity: 1;
							@include transition(0s);
							-webkit-transition: opacity 0.5s 0.9s, max-height 0.6s 0.4s;
							transition: opacity 0.5s 0.9s, max-height 0.6s 0.4s;
						}

						// Class added to close sub-menu
						&.hide-focus {
							padding-top: 90px;
							-webkit-transition-delay: 1s;
							transition-delay: 1s;

							.nav-title {
								margin-bottom: 0px;
								-webkit-transition-delay: 1s;
								transition-delay: 1s;
							}
							.open-cont {
								max-height: 0px;
								opacity: 0;
								-webkit-transition: opacity 0.5s 0s, max-height 0.8s 0.5s;
								transition: opacity 0.5s 0s, max-height 0.8s 0.5s;
							}
						}

					}
				}
			}

			// Using second class to close to do things in reverse
			&.close-start {
				.desktop-background {
					opacity: 0;
					-webkit-transition-delay: 0.8s;
					transition-delay: 0.8s;
				}
				.title-bar {
					.action-btns {
						padding-top: 10px;
						max-height: none;

						button {
							opacity: 1; // mobile reset
						}
					}
				}
				nav {
					height: 0;
					-webkit-transition-delay: 0.4s;
					transition-delay: 0.4s;

					.nav-box {
						.nav-title {
							opacity: 0;
							-webkit-transition-delay: 0s;
							transition-delay: 0s;
						}
					}
				}
			}
		}
	}



}